body {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: lightcoral;
}

.container {
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  padding: 0;
  border: 1px solid black;
  width: 50vw;
}

#cabecera > h1 {
  background: lightblue;
  color: white;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
  text-align: left;
  padding-left: 6px;
}
